.LogIn {
    background-color: #7d0000;
    background-image: linear-gradient(180deg, #7d0000 0%, #ff0000 50%, #820000 100%);






    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 20vh auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 6px 20px 0 rgba(0, 0, 0, .1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.LogIn h1 {
    font-size: 40px;
    font-weight: normal;
    color: white;
    margin-bottom: 10px;
}

.LogInForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.LogInForm input, .LogInForm button {
    height: 35px;
    margin-top: 15px;
    padding: 0 10px;
    border: 1px solid darkgray;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}

.LogInForm input::placeholder {
    color: lightgray;
}

.LogInForm button {
    cursor: pointer;
    transition: .3s;
    background-color: whitesmoke;
    color: dimgray;
}

.LogInForm button:hover{
    filter: brightness(90%);
}

