.app {
    display: block;
}

.app-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    height: 60px;
    width: 60px;
    border: 1.2px solid darkgrey;
    border-radius: 15px;
    margin: 0;
}

.app h1 {
    color: black;
    font-size: 40px;
    font-weight: normal;
    margin-left: 10px;
}

.edit-button, .delete-button {
    height: 35px;
    width: 125px;
    margin-left: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    border-radius: 50px;
    line-height: 35px;
    transition: 0.3s;
}

.edit-button:hover, .delete-button:hover {
    opacity: 50%;
}

.edit-button {
    background-color: royalblue;
    margin-left: auto;
}

.delete-button {
    background-color: red;
}

.app hr {
    border: 0.5px solid lightgrey;
    margin: 10px 0;
}

.app hr:nth-child(2) {
    margin-bottom: 30px;
}

.menu-wrapper {
    max-width: 100%;
    height: 300px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu {
    height: 320px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0 0 20px 0;
}

.menu .item {
    display: inline-block;
    width: 30em;
    height: 297px;
    margin-right: 15px;
}

.menu .item:last-child {
    margin-right: 0;
}

.menu .item img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* ARROWS
.paddle {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    background-color: inherit;
    border: none;
    color: dodgerblue;
    transition: 0.3s;
}

.paddle:hover {
    opacity: 50%;
}

.paddle-icon {
    height: 15px;
    transform: scale(1,4);
}

.left-paddle {
    left: 0;
}

.right-paddle {
    right: 0;
}

.hidden {
    display: none;
}
*/

.app h2{
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 0 15px 10px 0;
}

.ratings-header {
    display: flex;
    align-items: baseline;
}

.ratings-header .see-all-button {
    margin: 0;
}

.overall-rating {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: -15px;
}

.overall-rating p {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", "Arial", "sans-serif";
}

.rating-number {
    font-size: 75px;
    margin-right: 10px;
}

.app-reviews{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -15px 0;
}

.review-card{
    padding: 15px;
    width: 175px;
    background-color: lightgrey;
    border-radius: 20px;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    margin: 0 15px 15px 0;
}

.card-title, .card-stars {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.card-title .text, .card-stars .stars{
    font-weight: bold;
    padding-right: 10px;
}

.card-title .date, .card-stars .nickname {
    color: dimgrey;
    margin-left: auto;
    text-align: right;
}

.see-all-button, .review-card .reply-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    font-size: 15px;
    color: dodgerblue;
    padding: 0;
    margin: auto 0 0 auto;
    transition: 0.3s;
}

.see-all-button:hover, .review-card .reply-button:hover {
    opacity: 50%;
}



