/* main structure */
.app-container {
    padding-bottom: 14px;
    padding-top: 20px;
}
.app-container div{
    display: block;
}

.sidebar{
    padding: 20px;
    width: 20%;
    float: left;
}
.sidebar div{
    display: block;
}

.main {
    float: right;
    margin-bottom: 20px;
    width: 75%;
}
.main div{
    display: block;
}
.main hr{
    background: #444;
    border: 1px solid #444;
}
/* end main structure */

/* sidebar */
.icon {
    max-height: 128px;
    max-width: 128px;
    display: block;
    margin: 0 0 20px 0;
}

.sidebar h4{
    font-size: 1.4em;
    font-weight: normal;
    margin: 0.6em 0;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
.sidebar h5{
    font-size: 1.1em;
    font-weight: normal;
    margin: 0.6em 0;
    display: block;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.sidebar a{
    color: #0071bc;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
/* end sidebar */

/* start main */
.app{
    padding: 20px;
}
.app div{
    display: block;
}

.app h1{
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 2.6em;
    font-weight: normal;
    color: #444;
}
.app h2{
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 1.5em;
    font-weight: normal;
    color: #444;
}
.button-left{
    margin-bottom: 30px;
}
.buttons-left{
    float: left;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: -10px;
}
.buttons-left a, .buttons a:visited{
    text-decoration: none;
    color: #fafafa;
    outline: none;
    cursor: pointer;
    background: #444;
    border: 1px solid #444;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}

.buttons-left a:hover {
    color: #444;
    background: #fafafa;
    transition: 0.5s;
}
.buttons{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
}
.buttons a, .buttons a:visited{
    text-decoration: none;
    color: #fafafa;
    outline: none;
    cursor: pointer;
    background: #444;
    border: 1px solid #444;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}

.buttons a:hover{
    color: #444;
    background: #fafafa;
    transition: 0.5s;
}
/* end main */

/* screenshots */
.screenshot-list {
    align-items: center;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

.screenshot-list li {
    list-style-type: none;
    display: inline-block;
    vertical-align: bottom;
}

.screenshot-list img{
    max-width: 450px;
    position: relative;
    margin: 0;
    display: block;
}
.versions{
    margin-top: -15px;
    font-size: 18px;
    width: 280px;
    display: block;
}
.app .reviews{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-gap: 30px;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.reviews .card{
    padding-top: 20px;
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: 100px;
    background-color: darkgray;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.24);
    border: 2px solid rgba(7,7,7,0.12);
    font-size: 17px;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
}
.card .description{
    width: 80%;
    margin: 0 auto;
    font-size: 13px;
    text-align: left;
    transition: all 0.3s ease;
    opacity: 0;
}
.card .text{
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    text-align: left;
    transition: all 0.3s ease;
}

.card:hover{
    height: 200px;
}
.card:hover{
    opacity: 1;
}
.card .description:hover{
    max-height: 0px;
    opacity: 1;
}

