/*Footer*/
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;

}
.footerLeft{
    margin-left:15%;
    margin-right: auto;
    padding-top: 30px;
    margin-bottom: -80px;
}
.footerRight{
    margin-left: auto;
    margin-right: 15%;
    color: darkgrey;
}
.inline-block{
    display: inline-block;
    padding-left: 50px;
}
.block{
    display: block;
    text-align: right;
}

/*Header*/
.Header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.AppDownloads{
    display: grid;
    grid-template-columns: auto auto auto;
}