@media {
    .container {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-gap: 10px;
        margin : 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
        grid-column-gap: 10px;
    }
}

/*layer 1*/
.basic_Info {
    display: table-row;
}
.addIconButton{
    display: inline-block;
    transition: 0.5s;
    margin-left: 20px;
    background-color: rgba(68, 68, 68, 0.70);
    text-align: center;
;
}
.icon{
    width: 50px;
    height: 50px;
    display: inline-block;
    float: left;
    margin-left: 30px;
}

.InputTitle {
    font-size: 40px;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 10px;
}
hr.line {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px lightgray;
    border-left: transparent;
    border-right: transparent;
}

/*layer 2*/
.images {
    display: table-row;
}
.image {
    float: left;
    width: auto;
    margin-left: 15px;
}
.InputImage {
    font-size: 15px;
}

/*layer 3*/
.reviews {
    display: table-row;
}

/*layer 4*/
.other_Info {
    display: table;
}
.DescriptionText{
    font-size: 30px;
    font-weight: bold;
    margin-block-end: 0px;
    margin-block-start: 10px;
}
.description {
    width: 100%;
    padding-bottom: 100px ;
    font-size: 20px;
}

.deleteButton{
    transition: 0.5s;
    background-color: rgba(68, 68, 68, 0.70);
    margin-left: -70px;

}
.deleteButton:hover{
    color: #444;
    background: #fafafa;
    transition: 0.5s;
}

.button{appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;}

.addImageButton{
    height: 305px;
    width: 450px;
    align-items: center;
    display: inline-block;
    float: left;
    margin-left: 15px;
    transition: 0.5s;
    background-color: rgba(68, 68, 68, 0.70);
    margin-top: 38px;
    text-align: center;
}

.addAppButton{
    display: inline-block;
    float: left;
    margin-left: 15px;
    transition: 0.5s;
    background-color: rgba(68, 68, 68, 0.70);
}

.deleteButton , .deleteButton:visited, .addImageButton , .addImageButton:visited, .addIconButton , .addIconButton:visited, .addAppButton, .addAppButton:visited{
    text-decoration: none;
    color: #fafafa;
    outline: none;
    cursor: pointer;
    background-color: rgba(68, 68, 68, 0.50);
    border: 1px solid #444;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}