* {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.Html {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.Body {
    flex: 1;
    min-height: 0;
    padding-bottom: 7rem;
    margin: 100px 17% 15px;
    transition: 0.3s;
}

a {
    outline: none;
    text-decoration: none;
}



/* Header */
.Nav {
    position: fixed;
    background: rgba(0,0,0,.8);
    height: 44px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    z-index: 99;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.Nav .NavLogo {
    cursor: pointer;
    margin-right: 3%;
}

.Nav .NavLink, .Nav .NavDropdown, .Nav .NavDropdown .dropdown-button, .Nav .NavDropdownTranslate, .Nav .NavDropdownTranslate .dropdown-button-translate, .Nav .NavLinkLogin {
    color: darkgrey;
    font-size: 15px;
    font-weight: normal;
    transition: 0.3s;
    margin: 0 3%;
}

.Nav .NavLink:hover, .Nav .NavDropdown .dropdown-button:hover, .Nav .NavDropdownTranslate .dropdown-button-translate:hover, .dropdown-content a:hover, .Nav .NavLinkLogin:hover {
    color: white;
}

.Nav .NavIcon {
    padding-left: 5px;
}

.Nav .NavDropdownTranslate {
    margin-left: auto;
}

.Nav .NavDropdown {
    margin-right: 0;
}

.Nav .NavDropdown .dropdown-button, .Nav .NavDropdownTranslate .dropdown-button-translate {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: fixed;
    margin-top: 15px;
    padding: 15px;
    background: rgba(0,0,0,.8);
    min-width: 6%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.dropdown-content a {
    float: none;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: darkgrey;
    font-size: 15px;
    font-weight: normal;
    transition: 0.3s;
}

.dropdown-content hr {
    border: 0.5px solid dimgrey;
}

.dropdown-content a:last-child {
    padding-top: 10px;
    padding-bottom: 0;
}

.show {
    display: block;
    z-index: 1000;
}

.Nav .NavLinkLogin {
    margin-right: 0;
}



/* Footer */
footer {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 17%;
    background-color: black;
    align-items: flex-start;
    justify-content: space-between;
    transition: 0.3s;
}

.row {
    margin: 0 6%;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
}

.row:first-child {
    align-items: flex-start;
    margin-left: 0;
}

.row:nth-child(2) {
    margin-left: auto;
}

.row:last-child {
    margin-right: 0;
}

.socials {
    align-items: center;
}

.socials-icon {
    color: dimgrey;
    height: 24px;
    padding: 5px 12px 0 0;
    transition: 0.3s;
}

.socials-icon:hover {
    filter: brightness(1.5);
}

.socials-icon:last-child {
    margin-right: 0;
}

.copyright {
    cursor: default;
    color: dimgrey;
    font-size: xx-small;
    font-weight: normal;
}

footer .row a {
    color: dimgrey;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    transition: 0.3s;
    padding-bottom: 8px;
}

footer .row a:hover {
    color: darkgrey;
}



/* Responsiveness */
@media (max-width: 1250px) {
    .Nav {
        padding: 0 10%;
    }

    .Body {
        margin: 100px 10% 15px;
    }

    footer {
        padding: 15px 10%;
    }
}

@media (max-width: 1000px) {
    .Nav {
        padding: 0 15px;
    }

    .Body {
        margin: 100px 15px 15px;
    }

    footer {
        padding: 15px;
    }
}

@media (max-width: 750px) {
    .Nav .NavLink, .Nav .NavDropdown, .Nav .NavDropdownTranslate, .Nav .NavLinkLogin {
        margin: 0 1%;
    }

    .Nav .NavLogo {
        margin-right: 1%;
    }

    .Nav .NavDropdownTranslate {
        margin-left: auto;
    }

    .Nav .NavLinkLogin {
        margin-right: 0;
    }

    .Nav .NavDropdown {
        margin-right: 0;
    }

    footer .row {
        margin: 0 2%;
    }
}

/* tutorial */
.tutorial-wrapper {
    background-color: #fff;
    width: 80%;
    max-width: 800px;
    margin: 4rem auto;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tutorial-header {
    background-color: #2c2c2c;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tutorial-header span {
    font-size: 1.5rem;
    cursor: pointer;
}
.tutorial-content {
    padding: 1.5rem 1rem;
}
.tutorial-body {
    margin-bottom: 1rem;
}
.tutorial-body h4 {
    font-size: 1rem;
    color: #444;
}
.tutorial-body p {
    font-size: 1rem;
    background-color: #eee;
    color: #444;
    padding: 1rem;
    margin: 1rem 0 2rem 0;
}
.tutorial-footer button {
    display: block;
    font-size: 1rem;
    margin-left: auto;
    padding: 0.5rem 1.8rem;
    background-color: #444;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

/* my apps page */
.btn-open-tutorial{
    color: #444;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.5rem;
    background: transparent;
}