* {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    margin: 0;
}

.Body {
    flex: 1;
    min-height: 0;
    margin-top: 44px;
    margin-left: 17%;
    margin-right: 17%;
    padding-bottom: 7rem;
}

.Html {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

a {
    outline: none;
    text-decoration: none;
}



/* Header */
.Nav {
    overflow: hidden;
    background-color: black;
    position: fixed;
    height: 44px;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavLogo {
    cursor: pointer;
    margin-right: 3%;
}

.NavLink, .NavTranslate, .NavProfile, .NavDropdown .dropdown-button {
    color: darkgrey;
    font-size: 15px;
    font-weight: normal;
    transition: 0.3s;
    margin: 0 3%;
}

.NavLink:hover, .NavTranslate:hover, .NavProfile:hover, .NavDropdown .dropdown-button:hover, .dropdown-content a:hover {
    color: white;
}

.NavTranslate {
    cursor: pointer;
    margin-left: auto;
}

.NavIcon {
    padding-left: 5px;
}

.NavDropdown {
    margin-right: 0;
}

.NavDropdown .dropdown-button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: fixed;
    margin-top: 15px;
    padding: 15px;
    background-color: black;
    min-width: 6%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    float: none;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: darkgrey;
    font-size: 15px;
    font-weight: normal;
    transition: 0.3s;
}

.dropdown-content hr {
    border: 0.5px solid dimgrey;
}

.dropdown-content a:last-child {
    padding-top: 10px;
    padding-bottom: 0;
}

.show {
    display: block;
}



/* Footer */
footer {
    position: absolute;
    display: block;
    height: 5rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px 17%;
    background-color: black;
    align-items: center;
}

footer .row {
    margin: 0 6%;
    float: right;
    display: flex;
    flex-direction: column;
}

footer .row:first-child {
    float: left;
    align-items: flex-start;
    margin: 0;
}

footer .row:nth-child(2) {
    margin-right: 0;
}

.socials {
    align-items: center;
}

.socials-icon {
    color: dimgrey;
    height: 24px;
    padding: 5px 12px 0 0;
    transition: 0.3s;
}

.socials-icon:hover {
    filter: brightness(1.5);
}

.socials-icon:last-child {
    margin-right: 0;
}

.row .copyright {
    cursor: default;
    color: dimgrey;
    font-size: xx-small;
    font-weight: normal;
}

.row a {
    color: dimgrey;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    transition: 0.3s;
    padding-bottom: 8px;
}

.row a:hover {
    color: darkgrey;
}

.row a:last-child {
    padding-bottom: 0;
}